body {
  background-color: #59a6ff;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 450px;
  height: 575px;
  margin: auto;
  outline: none;
  border: none;
}

#display {
  grid-area: 1 / 1 / 2 / 5;
  background-color: white;
  padding: 20px;
  font-size: 35px;
  font-family: Arial;
  text-align: right;
}

.num {
  border: none;
  outline: none;
  font-size: 30px;
}

.num:hover {
  background-color: #ff6f59;
}

.num:active {
  background-color: #fa9387;
}

.oper {
  border: none;
  outline: none;
  background-color: #B2D6FF;
  font-size: 30px;
}

.oper:hover {
  background-color: lightslategrey;
}

.oper:active {
  background-color: grey;
}

.oper:focus {
  background-color: lightslategrey;
}

#decimal {
  outline: none;
  border: none;
  font-size: 40px;
  padding-bottom: 15px;
}

#decimal:hover {
  background-color: #ff6f59;
}

#decimal:active {
  background-color: #fa9387
}

#equals {
  outline: none;
  border: none;
  font-size: 30px;
}

#equals:hover {
  background-color: #ff6f59;
}

#equals:active {
  background-color: #fa9387
}

#divide {
  grid-area: 2 / 4 / 3 / 5;
}

#multiply {
  grid-area: 3 / 4 / 4 / 5;
}

#subtract {
  grid-area: 4 / 4 / 5 / 5;
}

#add {
  grid-area: 5 / 4 / 6 / 5;
}

#backspace {
  grid-area: 6 / 1 / 7 / 3;
  border: none;
  outline: none;
  font-size: 30px;
}

#backspace:hover {
  background-color: #ff6f59;
}

#backspace:active {
  background-color: #fa9387
}

#clears {
  grid-area: 6 / 3 / 7 / 5;
  border: none;
  outline: none;
  font-size: 30px;
}

#clears:hover {
  background-color: #ff6f59;
}

#clears:active {
  background-color: #fa9387;
}