/* #container {
color: white;
margin: auto;
width: 630px;
display: grid;
grid-template-columns: 500px
 repeat(16, 1fr);
grid-template-rows: repeat(8, 1fr);
} */

/* .test {
  background-color: coral;
  outline: solid 2px black;
  color: white;
}

#display {
    background-color: lightgrey;

} */

/* .container {
    display: grid;
    
    width: 650px;
    margin: auto;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:   
    "header header header header"
    "main main main sidebar"
    "main main main sidebar"
    "main main main sidebar"
    "main main main sidebar"
    "main main main sidebar"
  }

#display {
    grid-area: header;
    background-color: lightgrey;
  }
.test {
    grid-area: main;
    background-color: coral;
    
    
  }
.oper {
    grid-area: sidebar;
  } */
  
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  outline: solid 5px;
  grid-gap: 5px;
  border: solid 1px;
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: lime;;
}

.test {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  background-color: coral;
}

.oper {
    background-color: blue;
}
